### 1. 데이터 불러오기

In [55]:
import pandas as pd
patient = pd.read_csv("C:/Users/HOME/Desktop/수DA쟁이/20201127_TEAMPROJECT_4/코로나19/coronavirusdataset_20200601/PatientInfo.csv")
patient

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,infection_order,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
0,1000000001,2.0,male,1964,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,1.0,NaN,75,2020-01-22,2020-01-23,2020-02-05,NaN,released
1,1000000002,5.0,male,1987,30s,Korea,Seoul,Jungnang-gu,NaN,overseas inflow,1.0,NaN,31,NaN,2020-01-30,2020-03-02,NaN,released
2,1000000003,6.0,male,1964,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,2.0,2002000001,17,NaN,2020-01-30,2020-02-19,NaN,released
3,1000000004,7.0,male,1991,20s,Korea,Seoul,Mapo-gu,NaN,overseas inflow,1.0,NaN,9,2020-01-26,2020-01-30,2020-02-15,NaN,released
4,1000000005,9.0,female,1992,20s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,2.0,1000000002,2,NaN,2020-01-31,2020-02-24,NaN,released
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3999,7000000010,NaN,female,NaN,20s,Korea,Jeju-do,Jeju-do,NaN,overseas inflow,NaN,NaN,18,NaN,2020-04-03,2020-04-21,NaN,released
4000,7000000011,NaN,male,NaN,30s,Korea,Jeju-do,Jeju-do,NaN,contact with patient,NaN,7000000009,5,NaN,2020-04-03,NaN,NaN,isolated
4001,7000000012,NaN,female,NaN,20s,Korea,Jeju-do,Jeju-do,NaN,overseas inflow,NaN,NaN,9,NaN,2020-04-03,2020-05-05,NaN,released
4002,7000000013,NaN,female,NaN,10s,China,Jeju-do,Jeju-do,NaN,overseas inflow,NaN,NaN,6,NaN,2020-04-14,2020-04-26,NaN,released
4003,7000000014,NaN,female,NaN,30s,Korea,Jeju-do,Jeju-do,NaN,Itaewon Clubs,NaN,NaN,NaN,NaN,2020-05-09,NaN,NaN,isolated

In [54]:
patient.columns

Index(['patient_id', 'global_num', 'sex', 'birth_year', 'age', 'country',
       'province', 'city', 'disease', 'infection_case', 'infection_order',
       'infected_by', 'contact_number', 'symptom_onset_date', 'confirmed_date',
       'released_date', 'deceased_date', 'state'],
      dtype='object')

In [34]:
patient.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4004 entries, 0 to 4003
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   patient_id          4004 non-null   int64
 1   global_num          2806 non-null   float64
 2   sex                 3674 non-null   object
 3   birth_year          3267 non-null   object
 4   age                 3525 non-null   object
 5   country             4004 non-null   object
 6   province            4004 non-null   object
 7   city                3926 non-null   object
 8   disease             18 non-null     object
 9   infection_case      3211 non-null   object
 10  infection_order     31 non-null     float64
 11  infected_by         899 non-null    object
 12  contact_number      680 non-null    object
 13  symptom_onset_date  535 non-null    object
 14  confirmed_date      4001 non-null   object
 15  released_date       1508 non-null   object
 16  deceased_date       65 non-null     object
 17  state               4004 non-null   object
dtypes: float64(2), int64(1), object(15)
memory usage: 563.2+ KB

contact_number : 사람들과의 접촉 수

In [12]:
patient['contact_number'].sort_values()

1475      -
1474      -
1464      -
1463      -
2525      0
       ...
3986    NaN
3987    NaN
3988    NaN
3989    NaN
4003    NaN
Name: contact_number, Length: 4004, dtype: object

In [13]:
patient['contact_number'].unique()

array(['75', '31', '17', '9', '2', '43', '0', '68', '6', '23', '117',
       '27', '8', nan, '4', '3', '1', '1000000772', '1000000796', '1091',
       '131', '16', '14', '485', '19', '296', '15', '34', '37', '22', '7',
       '10', '28', '21', '5', '25', '18', '159', '11', '30', '41', '71',
       '38', '13', '24', '185', '160', '1160', '450', '65', '156', '39',
       '47', '86', '74', '12', '46', '64', '66', '40', '45', '26', '-',
       '95', '422', '290', '32', '53', '29', '70', '35', '51', '130',
       '106', '174', '78', '33', '89', '113', '36', '42', '87', '84',
       '20'], dtype=object)

In [47]:
patient['contact_number'] = patient['contact_number'].dropna()

In [48]:
patient['contact_number']

0        75
1        31
2        17
3         9
4         2
       ...
3999     18
4000      5
4001      9
4002      6
4003    NaN
Name: contact_number, Length: 4004, dtype: object

In [50]:
patient['contact_number'][patient['contact_number'] == '1000000796'].index.tolist()

[818]

In [52]:
p2 = patient.loc[818,:]
p2

patient_id              1000000819
global_num                   11304
sex                            NaN
birth_year                     NaN
age                            NaN
country                      Korea
province                     Seoul
city                  Eunpyeong-gu
disease                        NaN
infection_case                 NaN
infection_order                NaN
infected_by                    NaN
contact_number          1000000796
symptom_onset_date             NaN
confirmed_date          2020-05-27
released_date                  NaN
deceased_date                  NaN
state                     isolated
Name: 818, dtype: object

In [58]:
patient['infected_by'].value_counts()

2000000205    51
4100000008    27
2000000167    24
2000000309    21
4100000006    21
              ..
4100000024     1
2000000225     1
2000000003     1
1000000130     1
1500000043     1
Name: infected_by, Length: 414, dtype: int64

In [64]:
patient['patient_id'][patient['patient_id'] == 2000000205 ].index.tolist()

[1681]

In [65]:
p3 = patient.loc[1681,:]
p3

patient_id                      2000000205
global_num                            8100
sex                                 female
birth_year                            1946
age                                    70s
country                              Korea
province                       Gyeonggi-do
city                           Seongnam-si
disease                                NaN
infection_case        contact with patient
infection_order                        NaN
infected_by                     1000000138
contact_number                           8
symptom_onset_date                     NaN
confirmed_date                  2020-03-14
released_date                          NaN
deceased_date                          NaN
state                             isolated
Name: 1681, dtype: object